<div class="row">
  <div class="span8 offset1">
    <h1><%=t('update.title')%></h1>
    <hr>
    <b><%=t('update.upgrade')%></b><br>
    <a href="/confirm_upgrade"><%=t('update.link')%></a>
  </div> <!-- /span12 -->
</div> <!-- /row -->
