<div class="row">
	<div class="span12">
		<div class="error-container">
			<h1>401</h1>
			<h2><%=t('error.not_authorized.short')%></h2>
			<div class="error-details">
				<%=t('error.not_authorized.detail')%>
			</div> <!-- /error-details -->
		</div> <!-- /error-container -->
	</div> <!-- /span12 -->
</div> <!-- /row -->
