<div class="well">
  <legend>Group Members for <%=@group%></legend>
  <% @members.each do |host| %>
      <h5><div class="btn-group">
      <a style="margin-bottom: 10px" class="btn btn-success srv server" href="/server/<%=host%>"><%=host%></a>
          <a style="margin-top: -10px" class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="/server/del/<%=host%>">Delete</a></li>
          </ul>
        </div></h5>
  <% end %>
</div>
