<div class="well">
  <legend>Packages</legend>
  <legend><br /></legend>
</div>

<form id="install_pkg" action='/packages/add' method='post' class="form-inline well">
  <div class="control-group"><input name='package' type="text" class="input-xlarge" placeholder="Package to install" autofocus></div>
  <div class="control-group" for"host"><select id="host" name="host">
	  <% @arr.each do |host| %>
                <option value="<%=host%>"><%=host%></option>
	  <% end %>
  </select></div>
  <div class="control-group"><input class="btn primary" type='submit' value='Install!'></div>
</form>
