<div class="well">
  <legend>Server list</legend>
  <% @hosts.each do |host| %>
    <h5><div class="btn-group">
    <a style="margin-bottom: 10px" class="btn btn-success srv server" href="/server/<%=host%>"><%=host%></a>
          <a style="margin-top: -10px" class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#delServer" onclick="passDataToModal('<%=host%>', '#delServer')">Delete</a></li>
          </ul>
        </div></h5>
  <% end %>
  <legend></legend>
  <a id="add" class="btn btn-primary offset9">Add server</a>
</div>

<form id="add_form" style="display:none" action='/server/add' method='post' class="form-inline well">
  <div class="control-group"><input name='name' type="text" class="input-xlarge" placeholder="Display name" autofocus></div>
  <div class="control-group"><input name='host' type="text" class="input-xlarge" placeholder="IP / hostname"></div>
  <div class="control-group"><input name='password' type="password" class="input-xlarge" placeholder="root password"></div>
  <div class="control-group"><input class="btn primary" type='submit' value='Deploy!'></div>
</form>

<div id="delServer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Attention!</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <b id="dataInput"></b> from your server list?</p>
  </div>
  <div class="modal-footer">
    <form id="form" id="delGroup" action="/server/del" method="post">
      <input type="hidden" name="host" id="dataInput" value="">
      <div style="float:left" class="control-group"><input type="checkbox" name="revoke" value="true"> Revoke SSH key</div>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button type="submit" class="btn btn-primary">Delete</button>
    </form>
  </div>
</div>
