<form id="setup" action='/setup' method='post' class="form-inline well">
  <div class="btn-group control-group" data-toggle-name="generate" data-toggle="buttons-radio" >
    <button type="button" value="1" class="btn import_key" data-toggle="button">Generate key pair</button>
    <button type="button" value="0" class="btn import_key" data-toggle="button">Import key pair</button>
  </div>
  <input type="hidden" name="generate" value="1" />
  <div id="import" style="display:none">
    <div class="control-group">
      <label class="control-label" for="priv_key">Private key</label>
      <div class="controls">
        <input class="input-file" id="priv_key" type="file">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="pub_key">Public key</label>
      <div class="controls">
        <input class="input-file" id="pub_key" type="file">
      </div>
    </div>
  </div>
  <div class="control-group"><input class="btn primary" type='submit' value='Setup!'></div>
</form>
