<div class="row">
  <div class="span8 offset1">
    <h1><%=t('update.title')%></h1>
    <hr>
    <%=t('update.actions')%><br />
    <% @actions.each do |action| %>
      <%=t('update.'+action)%><br />
    <% end %>
    <a href="/confirm_update"><%=t('update.link')%></a>
  </div> <!-- /span12 -->
</div> <!-- /row -->
