<div class="row">
  <div class="span8">
    <div class="widget">
      <div class="widget-header">
        <i class="icon-pencil"></i><h3 id="filePath"></h3>
      </div>
      <div class="widget-content">
        <textarea id="editBox"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span2 offset6">
    <button class="btn btn-large input-block-level btn-primary" onclick="saveMonitorFile()">Save</button><br/><br/><br/>
  </div>
</div>
<script>
editMonitor('<%= @base %>');
</script>
<div id="saved">Saved</div>
